.vscode/**
.github/**
.husky/**
.githooks/**
sample-data/**
scripts/**
src/**
test/**
test-vscode/**
node_modules/**
.vscode-test.cjs
.vscode-test/**
images/icon-source.png
*.vsix
*.tsbuildinfo
.DS_Store
